<ul class="list inset">
    <li style="background-color:#eee"><div style="text-align:center;font-weight:bold">{{ product.ProductName}}</div></li>
    <li>Quantity Per Unit <span style="float:right">{{ product.QuantityPerUnit }}</span></li>
    <li>Reorder Level <span style="float:right">{{ product.ReorderLevel }}</span></li>
    <li>Unit Price <span style="float:right">{{ product.UnitPrice }}</span></li>
    <li>Units In Stock <span style="float:right">{{ product.UnitsInStock }}</span></li>
    <li>Units On Order <span style="float:right">{{ product.UnitsOnOrder }}</span></li>
</ul> 